# Theme
theme = TokyoNight Moon

# Shell integration
shell-integration = fish

# Cursor
cursor-style = block
shell-integration-features = no-cursor
cursor-style-blink = true

# Fonts
{{- if hasKey . "terminal_font_size" }}
font-size = {{ .terminal_font_size }}
{{- end }}
font-family = Adwaita Mono

# Window
window-padding-balance = true
{{- if hasKey . "terminal_window_height" }}
window-height = {{ .terminal_window_height }}
{{- end }}
{{- if hasKey . "terminal_window_width" }}
window-width = {{ .terminal_window_width }}
{{- end }}
